:root {
    --primary-color: hsl(278, 68%, 11%);
    --secondary-color: hsl(270, 3%, 87%);
    --third-color: hsl(279, 6%, 55%);
    --fourth-color: hsl(0, 100%, 66%);
  }
  
  /* defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
  }
  
  /* main container  */
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  /* left Box  */
  .container .leftBox {
    width: 30%;
    height: 100%;
    background: url(../../images/bg-main-desktop.png);
  }
  
  .icon {
    width: 30%;
  }
  
  .card1 {
    width: 18rem;
    height: 10rem;
    background: url(../../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    top: 20%;
    left: 40%;
    border-radius: 10px;
    padding: 1rem;
  }
  
  .card2 {
    width: 18rem;
    height: 10rem;
    background: url(../../images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    top: 25%;
    left: 60%;
    border-radius: 10px;
  }
  
  .card2 .back-card-num {
    color: white;
    position: relative;
    top: 42.8%;
    left: 75%;
  }
  
  .num {
    display: flex;
    justify-content: start;
    gap: 0.8rem;
    margin-top: 1rem;
    color: white;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    color: white;
    font-size: 0.8rem;
  }
  
  .container .rightBox {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: ceneter;
    align-items: center;
    gap: 2rem;
  }
  
  .content .show-text {
    display: flex;
    flex-direction: column;
    justify-content: ceneter;
    align-items: center;
    gap: 0.6rem;
  }
  
  .content .show-text p {
    color: var(--third-color);
  }
  a {
    text-decoration: none;
    color: white;
  }
  button {
    color: white;
    background-color: var(--primary-color);
    border-style: none;
    width: 18rem;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 990px) {
    .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  
    /* left Box  */
    .container .leftBox {
      width: 100%;
      height: 40%;
      background: url(../../images/bg-main-desktop.png);
      background-size: cover;
    }
  
    .icon {
      width: 30%;
    }
  
    .card1 {
      width: 18rem;
      height: 10rem;
      background: url(../../images/bg-card-front.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      flex-direction: column;
      position: absolute;
      top: 13%;
      left: 12%;
      border-radius: 10px;
      padding: 1rem;
      z-index: 1;
    }
  
    .card2 {
      width: 18rem;
      height: 10rem;
      background: url(../../images/bg-card-back.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      top: 5%;
      left: 30%;
      border-radius: 10px;
    }
  
    .card2 .back-card-num {
      color: white;
      position: relative;
      top: 42.8%;
      left: 75%;
    }
  
    .num {
      display: flex;
      justify-content: start;
      gap: 0.8rem;
      margin-top: 1rem;
      color: white;
    }
  
    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 1.2rem;
      color: white;
      font-size: 0.8rem;
    }
  
    .container .rightBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* margin-top: 2rem; */
    }
  
    .content {
      display: flex;
      flex-direction: column;
      justify-content: ceneter;
      align-items: center;
      gap: 2rem;
    }
  
    .content .show-text {
      display: flex;
      flex-direction: column;
      justify-content: ceneter;
      align-items: center;
      gap: 0.6rem;
    }
  
    .content .show-text p {
      color: var(--third-color);
    }
    .content input[type="button"] {
      color: white;
      background-color: var(--primary-color);
      border-style: none;
      width: 18rem;
      height: 2.5rem;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 440px) {
    .container .leftBox .card1 {
      transform: scale(0.8);
    }
    .container .leftBox .card2 {
      transform: scale(0.8);
    }
  }
  